<app-booking-details></app-booking-details>
<p>Total seats: {{ getTotalSeats }}</p>
<p>Available seats: {{ getNumAvailableSeats }}</p>
<table class="seat-layout" *ngIf="seatsLayout">
  <tr *ngFor="let row of seatsLayout; let i = index" class="row">
    <br />
    <span>{{ rowLetters[i] }}</span>
    <td *ngFor="let seat of seatsLayout[i]">
      <mat-icon
        class="seat-icon disable-selection"
        [ngClass]="{
          'empty-seat':
            !checkIfSeatIsOccupied(seat.Id) && !checkIfSeatIsSelected(seat.Id),
          'occupied-seat': checkIfSeatIsOccupied(seat.Id),
          'selected-seat': checkIfSeatIsSelected(seat.Id)
        }"
        (click)="selectSeat(seat)"
        >event_seat</mat-icon
      >
    </td>
  </tr>
</table>

<p>Seats selected: {{ getTotalSelectedSeats }}</p>
<p>Total cost: R{{ getTotalCost }}.00</p>

<button mat-raised-button (click)="confirmPay(); setSeatingDetails()">
  Confirm and Pay
</button>
