.seat-layout {
  margin-left: auto;
  margin-right: auto; 
}

.disable-selection::selection {
  background-color: transparent;
}

.seat-icon {
  font-size: 4em;
  margin-left: 1em;

  cursor: pointer;
}

.seat-id {
  margin-left: 12%;
  cursor: pointer;
}

.empty-seat {
  color: white;
}

.occupied-seat {
  color: black;
}

.selected-seat {
  color: rgb(197, 0, 197);
}

.name-input{
  padding-top: 1em;
  padding-bottom: 1em;
}