.seat {
  padding-left: 35%;
  padding-right: 35%;
}

.seat-icon {
  font-size: 4em;

  margin-left: 12%;
  cursor: pointer;
}

.seat-id {
  margin-left: 12%;
  cursor: pointer;
}

.empty-seat {
  color: black;
}

.selected-seat {
  color: blue;
}

.occupied-seat {
  color: red;
}
