.seat-layout {
  padding-left: 32%;
  padding-right: 35%;
}

.seat-icon {
  font-size: 4em;
  margin-left: 1em;

  cursor: pointer;
}

.seat-id {
  margin-left: 12%;
  cursor: pointer;
}

.empty-seat {
  color: black;
}

.occupied-seat {
  color: red;
}

.selected-seat {
  color: blue;
}
